#top-bar{
    z-index: 99;
    width: 100%;
    position: fixed;
    background-color: var(--Lightmode-Grey3);
    transition: background-color 0.3s ease;
}

#top-bar.scrolled {
    background-color: rgb(225, 115, 75);
}

/* 스크롤 시 탑바의 Map 글씨색상은 하얗게 */
#top-bar.scrolled .map-logo {
    color: white;
}

/* 스크롤 시 드롭다운의 마이페이지, 로그아웃 글씨색상은 유지되게 */
#top-bar.scrolled .my-content {
    color: var(--Lightnode-Grey);
}

#top-bar .map-logo{
    margin-top: 8px;
    cursor: pointer;
}

#top-bar .navigation-list {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#top-bar .nav-right-content{
    display: flex;
    gap: 10px;
}

#top-bar .nav-logo{
    width: 40px;
    cursor: pointer;
}

#top-bar .nav-logo:hover{
    transition: 1s;
    
}

#top-bar .login{
    border-radius: 10px;
    background-color: black;
    width: 80px;
    color: white;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

#top-bar .my-content {
    position: relative;

    width: 32px;
    height: 32px;

    background-image: url('/src/assets/images/user-profile.png');
    background-size: 100% 100%;

    cursor: pointer;
}

#top-bar .my-content-list {
    position: absolute;
    top: 36px;
    right: 16px;

    box-sizing: border-box;
    border-radius: 6px;
    width: 110px;
    border: 1px solid black;

    background-color: var(--White);
}

#top-bar .my-content-item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;

    color: var(--Lightnode-Grey);

    font-size: 14px;
    font-weight: 400;
    line-height: 175%;
}

#top-bar .my-content-item:hover {
    font-weight: 700;
}

#top-bar .my-content-item:first-child {
    border-bottom: 1px solid black;
}

#go-top-btn {
    position: fixed;
    display: none;
    z-index: 10;
    right: 15px;
    bottom: 15px;
    background-color: rgb(225,115,75);
    color: white;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 1.5rem;
    cursor: pointer;
}

#go-top-btn.visible{
    display: flex;

    animation-name: visiblebtn;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes visiblebtn {
    0% {margin-bottom: 0;}
    10% {margin-bottom: 10px;}
    20% {margin-bottom: -10px;}
    30% {margin-bottom: 10px;}
    100% {margin-bottom: 0;}
}

#go-top-btn:hover{
    box-sizing: border-box;
    background-color: white;
    color: rgb(255, 115, 75);
    transition: 1s;
    border: 1px solid rgb(255, 115, 75);

    animation-name: topbtn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes topbtn {
    0% {transform: rotateZ(-3deg);}
    10% {transform: rotateZ(3deg);}
    20%{transform: rotateZ(-3deg);}
    30%{transform: rotateZ(3deg);}
    40%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(0deg);}
    
}

/* .footprint {
    position: absolute;
    width: 20px;
    height: 30px;
    background: url(/src/assets/images/good-icon-color.png) no-repeat center;
    background-size: contain;
    opacity: 0.7;
    pointer-events: none;
    transition: opacity 0.8s ease;
} */


#footer.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #e5e7eb;
    padding: 12px 0;
    text-align: center;
    color: #6b7280;
    font-size: 14px;
  }

#footer {
    
    min-height: 200px;
    background-color: black;
    color: white;

}