#user-info-container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

#user-info-container .image-box {
  display: flex;
  justify-content: center;
}

#user-info-container .image-box>.profile-image {
  box-sizing: border-box;
  border-radius: 75px;
  border: 1px solid black;

  width: 150px;
  height: 150px;

  background-size: cover;
  background-position: 50% 50%;
}

#user-info-container .user-info-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
  margin-bottom: 50px;
}

#user-info-container .user-info-box:hover {
  cursor: default;  
}

#user-info-container .user-info-box .user-info-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#user-info-container .user-info-row>.title {
  font-size: 15px;
  font-weight: 400;
}

#user-info-container .user-info-row>.content {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px 10px;

  height: 40px;
  line-height: 175%;
}

#user-info-container>.exit-button-box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

#user-info-container>.exit-button-box .exit-button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 8px;

  width: 200px;
  height: 30px;

  color: white;
  background-color: black;

  font-size: 16px;
  font-weight: 500;
  line-height: 175%;

  cursor: pointer;
}

#user-info-container>.exit-button-box .exit-button:hover {
  background-color: #ccc;
  transition: 0.5s;
}