@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#wrapper-main{
    display: flex;
    position: relative;
}

#wrapper-main .main-left{
    width: 20%;
    box-sizing: border-box;
    background-color: rgb(226, 115, 75);
    position: relative;
    
    height: 100vh;
    margin: 0 auto;
    overflow-y: hidden;
}

/* #wrapper-main .main-left::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 8px dashed #ccc;
    transform: translateX(-50%);
} */

#wrapper-main .main-left .footstep {
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    width: 70px;
    opacity: 0;

    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
}

#wrapper-main .main-left .step1 { top: 100%; left: 30%; animation-name: step1Anim; }
#wrapper-main .main-left .step2 { top: 80%; left: 70%; animation-name: step2Anim; }
#wrapper-main .main-left .step3 { top: 60%; left: 30%; animation-name: step3Anim; }
#wrapper-main .main-left .step4 { top: 40%; left: 70%; animation-name: step4Anim; }
#wrapper-main .main-left .step5 { top: 20%; left: 30%; animation-name: step5Anim; }



@keyframes step1Anim {
    0%, 10% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    2% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    8% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    10% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}


@keyframes step2Anim {
    10%, 20% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    12% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    18% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    20% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}


@keyframes step3Anim {
    20%, 30% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    22% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    28% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    30% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}


@keyframes step4Anim {
    30%, 40% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    32% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    38% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    40% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}

@keyframes step5Anim {
    40%, 50% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    42% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    48% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    50% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}

@keyframes step6Anim {
    50%, 60% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    52% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    58% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    60% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}

@keyframes step7Anim {
    60%, 70% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    62% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    68% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    70% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}

@keyframes step8Anim {
    70%, 80% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    72% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    78% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    80% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}

@keyframes step9Anim {
    80%, 90% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    82% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    88% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    90% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}

@keyframes step10Anim {
    90%, 99.9% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    92% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    98% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    99.9% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}


#wrapper-main .main-right{
    width: 20%;
    background-color: rgb(226, 115, 75);
    box-sizing: border-box;

    position: relative;
    
    height: 100vh;
    margin: 0 auto;
    overflow-y: hidden;
}

/* #wrapper-main .main-right::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 5px dashed #ccc;
    transform: translateX(-50%);
} */

#wrapper-main .main-right .footstep {
    z-index: 3;
    position: absolute;
    left: 50%;
    

    width: 70px;
    opacity: 0;

    animation-duration: 4s;
    animation-delay: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
}

#wrapper-main .main-right .step1 { top: 20%; left: 30%; animation-name: step6Anim; }
#wrapper-main .main-right .step2 { top: 40%; left: 70%; animation-name: step7Anim; }
#wrapper-main .main-right .step3 { top: 60%; left: 30%; animation-name: step8Anim; }
#wrapper-main .main-right .step4 { top: 80%; left: 70%; animation-name: step9Anim; }
#wrapper-main .main-right .step5 { top: 100%; left: 30%; animation-name: step10Anim; }



@keyframes step7Anim {
    60%, 70% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    62% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    68% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    70% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}

@keyframes step8Anim {
    70%, 80% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    72% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    78% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    80% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}

@keyframes step9Anim {
    80%, 90% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    82% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    88% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    90% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}

@keyframes step10Anim {
    90%, 99.9% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
    92% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    98% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
    99.9% {
        opacity: 0;
        transform: translateX(-50%) scale(0.8);
    }
}


#wrapper-main .main-right{
    width: 20%;
    z-index: 3;
    /* background-color: aqua; */
}

#wrapper-title{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(226, 115, 75);
    justify-items: center;
    align-content: center;
}

#wrapper-title .title-box{
    justify-items: center;
    align-content: center;
}

#wrapper-title .title-logo {
    width: 70%;
    display: block;
    animation-name: stamp1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes stamp1 {
    0% {transform: scale(1); opacity: 0;}
    95% {transform: scale(5); opacity: 0;}
    100% {transform: scale(1); opacity: 1;}
}

/*
#wrapper-title .title {
    top: 50%;
    left: 45%;
    display: inline-block;
    font-size: 8rem;
    font-family: 'Ownglyph_ParkDaHyun';
    font-weight: 900;
    color: black;
    animation-name: title1;
    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-timing-function: ease;
}
    

@keyframes title1 {
    0% {transform: rotateZ(-3deg);}
    10% {transform: rotateZ(3deg);}
    20%{transform: rotateZ(-3deg);}
    30%{transform: rotateZ(3deg);}
    40%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(0deg);}
    
}
*/



#wrapper-title .category-wrapper{
    display: flex;
    width: 50%;
    height: 200px;
    align-items: center;
    justify-content: center;
    /*background-color: aqua;*/
    gap: 10px;

}

#wrapper-title .category-wrapper .category-search-button{
    border-radius: 10px;
    padding: 20px 30px;
    color: white;
    background-color: black;
    cursor: pointer;
}

#wrapper-title .category-wrapper .category-search-button:hover{
    color: rgb(226, 115, 75);
    background-color: white;
    transition: 0.5s;
}

#wrapper-title .category-select {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    /*background-color: antiquewhite;*/
    justify-content: center;
    padding: 10px;
}

#wrapper-title .category-select .category-address{
    width: 100%;
    height: 50%;
    z-index: 3;
    /*background-color: red;*/

}

#wrapper-title .category-select .category-detail{
    width: 100%;
    height: 50%;
    z-index: 2;
    /*background-color: blue;*/
}